
<div class="row">
	<div class="span7"><h3>My Roundtable allows you to meet new people who share your interests.</h3></div>
	<div class="span5">
		<h3 id="sign_up">Sign Up for My Roundtable</h3></br>
		<%= render 'devise/registrations/form' %>
	</div>
</div>
